.content1 {
  grid-area: content;
  background-color: white;
  z-index: 0;
  margin-top: 30px;
  margin-bottom: 80px;
}
.form-container {
  width: 70%;
  margin: 40px auto 5px auto;
}

.post {
  width: 70%;
  margin: 20px auto !important;
  box-shadow: 5px 5px 11px 5px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 10px;
}

.post-text {
  /* word-wrap: break-word; */
  overflow: hidden;
}

.comment-color {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;
  padding: 5px;
}

/* Responsive Section */
@media (max-width: 426px) {
  img {
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 376px) {
  .content1 {
    margin-bottom: 140px;
    margin-top: 70px;
  }
  img {
    width: 260px;
    height: 260px;
  }
}
